---
import Layout from "../layouts/Layout.astro";
---

<style>
	.wrapper {
		display: flex;
		flex-direction: row;
		--font-size-fluid-0: clamp(.75rem, 1.5vw, 1rem);
		--font-size-fluid-1: clamp(1rem, 2vw, 1.5rem);
		--font-size-fluid-2: clamp(1.5rem, 3vw, 2.5rem);
		--font-size-fluid-3: clamp(2rem, 4vw, 3.5rem);
		font-size: var(--font-size-fluid-0) ;
	}

	.description {
		/* border: 1px solid red; */
		width: 40%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding-left: 100px;
	}
	@media screen and (max-width:480px) {
		.wrapper {
			flex-direction: column;
		}
		.description {
			width: 100%;
		}
	}
	@media screen and (max-width:768px) {
	 .description {
		padding-left: 10px;
	 }	
	}
	.video-container {
		flex-grow: 1;
		position: relative;
		/* width: 100%; */
		height: 0;
		padding-bottom: 40%;
		/* border: 1px solid black; */
	}
	.video-container video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		/* border: 1px solid blue; */
		max-width: 900px;
		margin: 0 auto;
	}
	hr {
		border-top: 1px solid #dddddd;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
	.video-container img {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-40%, -50%);
		width: 100px;
		height: auto;
	}
	@media (max-width: 768px) {
		.video-container img {
			width: 80px;
		}
	}

	@media (max-width: 480px) {
		.video-container img {
			width: 40px;
		}
	}
	#logo-1 {
		filter: grayscale(1);
	}
	.h2 {
		position: absolute;
		bottom: -40px;
		left: 50%;
		transform: translate(-40%, -50%);
		width: 240px;
		height: auto;
		z-index: 1;
	}
</style>
<Layout>
	<div class="wrapper">
		<div class="video-container">
			<video src="hero_3.mp4" autoplay muted loop poster="hero_3.jpg"></video>
			<img src="svgFcolor.png" alt="logo" id="logo-1" />
			<h2 class="h2">Full Stack Developer</h2>
			<script is:inline>
				const image = document.getElementById("logo-1");
				document.addEventListener("mousemove", _.throttle(handleMouseMove, 50));
				function handleMouseMove(event) {
					// Get the coordinates of the mouse cursor
					const mouseX = event.clientX;
					const mouseY = event.clientY;

					// Get the position and dimensions of the image
					const imageRect = image.getBoundingClientRect();
					const imageX = imageRect.left + window.scrollX;
					const imageY = imageRect.top + window.scrollY;
					const imageWidth = imageRect.width;
					const imageHeight = imageRect.height;

					// Calculate the distance between the mouse cursor and the image center
					const imageCenterX = imageX + imageWidth / 2;
					const imageCenterY = imageY + imageHeight / 2;
					const distance = Math.sqrt(
						(mouseX - imageCenterX) ** 2 + (mouseY - imageCenterY) ** 2
					);

					// Calculate the maximum distance from the center
					const maxDistanceMultiplier = 10; // Adjust this value to control the size of the area
					const maxDistance =
						Math.sqrt((imageWidth / 2) ** 2 + (imageHeight / 2) ** 2) *
						maxDistanceMultiplier;

					// Calculate the grayscale intensity based on the distance
					const grayscaleIntensity = (distance / maxDistance) * 100;

					// Update the image's grayscale filter
					image.style.filter = `grayscale(${grayscaleIntensity}%)`;
				}
			</script>
		</div>
	</div>

	<div class="wrapper">
		<div class="description">
			<p><u>Front end</u></p>
			<p>I am highly proficient in JavaScript
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447716 0.447715 0 1 0H23C23.5523 0 24 0.447715 24 1V23C24 23.5523 23.5523 24 23 24H1C0.447716 24 0 23.5523 0 23V1ZM18.347 20.12C17.234 20.12 16.605 19.54 16.122 18.75L14.289 19.815C14.951 21.123 16.304 22.121 18.399 22.121C20.541 22.121 22.136 21.009 22.136 18.978C22.136 17.095 21.054 16.258 19.138 15.435L18.574 15.194C17.606 14.774 17.187 14.501 17.187 13.824C17.187 13.277 17.607 12.858 18.267 12.858C18.914 12.858 19.331 13.131 19.718 13.824L21.474 12.697C20.731 11.39 19.701 10.891 18.267 10.891C16.253 10.891 14.964 12.179 14.964 13.871C14.964 15.706 16.044 16.575 17.672 17.268L18.236 17.51C19.265 17.96 19.878 18.234 19.878 19.007C19.878 19.653 19.281 20.12 18.347 20.12ZM9.607 20.105C8.832 20.105 8.509 19.575 8.155 18.945L6.319 20.057C6.851 21.183 7.897 22.117 9.702 22.117C11.701 22.117 13.07 21.054 13.07 18.719V11.019H10.815V18.689C10.815 19.816 10.347 20.105 9.606 20.105H9.607Z" fill="black"/></svg>
			TypeScript
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.125 0C0.502 0 0 0.502 0 1.125V22.875C0 23.498 0.502 24 1.125 24H22.875C23.498 24 24 23.498 24 22.875V1.125C24 0.502 23.498 0 22.875 0H1.125ZM18.488 9.75C19.1 9.75 19.642 9.787 20.115 9.861C20.5611 9.92784 20.9989 10.0418 21.421 10.201V12.659C21.2184 12.5189 21.0031 12.398 20.778 12.298C20.5458 12.1935 20.3062 12.1066 20.061 12.038C19.5966 11.9086 19.1171 11.8413 18.635 11.838C18.335 11.838 18.062 11.866 17.816 11.924C17.5967 11.9709 17.3864 12.0526 17.193 12.166C17.023 12.27 16.893 12.395 16.8 12.54C16.7065 12.6861 16.6578 12.8565 16.66 13.03C16.66 13.226 16.713 13.403 16.816 13.559C16.92 13.715 17.068 13.863 17.259 14.003C17.45 14.143 17.682 14.279 17.955 14.413C18.228 14.548 18.537 14.687 18.881 14.829C19.351 15.026 19.773 15.236 20.147 15.457C20.521 15.679 20.842 15.93 21.11 16.21C21.378 16.489 21.582 16.808 21.724 17.167C21.866 17.526 21.938 17.943 21.938 18.42C21.938 19.077 21.813 19.63 21.565 20.076C21.3227 20.5159 20.975 20.8887 20.553 21.161C20.0982 21.4494 19.5941 21.6514 19.066 21.757C18.5 21.877 17.903 21.937 17.276 21.937C16.6589 21.9397 16.0429 21.8848 15.436 21.773C14.9109 21.6822 14.4017 21.5161 13.924 21.28V18.65C14.8278 19.4191 15.9743 19.8441 17.161 19.85C17.494 19.85 17.785 19.82 18.033 19.76C18.282 19.7 18.489 19.616 18.656 19.51C18.822 19.402 18.946 19.276 19.029 19.13C19.1207 18.96 19.1625 18.7675 19.1494 18.5748C19.1363 18.3821 19.0689 18.197 18.955 18.041C18.8064 17.8444 18.6247 17.6752 18.418 17.541C18.1617 17.3711 17.8917 17.2226 17.611 17.097C17.2782 16.945 16.9425 16.7997 16.604 16.661C15.686 16.278 15.002 15.809 14.551 15.256C14.101 14.703 13.875 14.034 13.875 13.251C13.875 12.637 13.998 12.11 14.244 11.669C14.49 11.228 14.824 10.865 15.248 10.58C15.6965 10.2841 16.1943 10.0711 16.718 9.951C17.298 9.81426 17.8921 9.74679 18.488 9.75ZM3.375 9.938H12.938V12.104H9.506V21.75H6.789V12.104H3.375V9.938Z" fill="black"/></svg>
			CSS 
			<svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L1.82292 21.6011L9.98802 24L18.1771 21.5973L20 0H0ZM15.1396 17.9411L10.0036 19.4464L4.87552 17.9336L4.52396 13.7679H7.0375L7.21615 15.8871L10.0073 16.6993L10.0141 16.7143L12.799 15.9187L13.0927 12.4821H7.23958L7.03125 9.80357H13.3151L13.5417 7.07143H3.95833L3.75 4.44643H16.2802L15.1396 17.9411Z" fill="black"/></svg>
			and HTML
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_312_20" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><path d="M0 0H24V24H0V0Z" fill="white"/></mask><g mask="url(#mask0_312_20)"><path d="M5.07996 0H6.16196V1.069H7.15196V0H8.23396V3.236H7.15196V2.153H6.16196V3.236H5.08096L5.07996 0ZM9.65596 1.073H8.70396V0H11.691V1.073H10.738V3.236H9.65596V1.073ZM12.165 0H13.293L13.987 1.137L14.68 0H15.808V3.236H14.731V1.632L13.987 2.783H13.968L13.223 1.633V3.236H12.165V0ZM16.346 0H17.429V2.167H18.949V3.237H16.346V0Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.046 22.072L3 4.71704H21L18.953 22.07L11.99 24L5.046 22.072ZM9.183 12.572L8.989 10.392H17.134L17.324 8.26404H6.664L7.238 14.701H14.615L14.368 17.461L11.994 18.103H11.992L9.622 17.463L9.47 15.766H7.332L7.63 19.108L11.99 20.318L16.357 19.108L16.889 13.144L16.941 12.573H9.183V12.572Z" fill="black"/></g></svg>
			utilizing my skills to create elegant and responsive frontend designs that enhance user experiences.</p>	

		</div>
		<div class="video-container">
			<video src="orbit3.mp4" autoplay muted loop poster="orbit3.jpg"></video>
		</div>
	</div>

	<div class="wrapper">
		<div class="description">
			<p><u>Back End</u></p>
			
			<p>I possess a strong command over NodeJS
				<svg width="57" height="24" viewBox="0 0 57 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M39.1645 0C39.0182 0 38.8779 0.0583006 38.7745 0.162077C38.671 0.265853 38.6129 0.406605 38.6129 0.553367V10.6929L36.3219 9.3519C36.1804 9.268 36.0191 9.22374 35.8548 9.22374C35.6905 9.22374 35.5292 9.268 35.3878 9.3519L29.8827 12.5725C29.742 12.654 29.6251 12.7712 29.5437 12.9124C29.4624 13.0536 29.4195 13.2137 29.4194 13.3767V19.8253C29.4194 20.1573 29.5959 20.4635 29.8827 20.6295L35.3878 23.8501C35.5292 23.934 35.6905 23.9783 35.8548 23.9783C36.0191 23.9783 36.1804 23.934 36.3219 23.8501L41.827 20.6295C41.9677 20.548 42.0846 20.4308 42.1659 20.2896C42.2473 20.1485 42.2902 19.9883 42.2903 19.8253V2.2688C42.2899 2.10794 42.2476 1.94998 42.1676 1.81054C42.0876 1.67111 41.9727 1.55504 41.8343 1.4738L39.4385 0.0756266C39.356 0.026758 39.2621 0.000665066 39.1664 0H39.1645ZM21.1452 9.22647C20.9812 9.22626 20.8201 9.26953 20.6781 9.3519L15.173 12.5725C15.0323 12.654 14.9154 12.7712 14.8341 12.9124C14.7527 13.0536 14.7098 13.2137 14.7097 13.3767V19.8253C14.7097 20.1573 14.8862 20.4635 15.173 20.6295L20.6781 23.8501C20.9668 24.0161 21.3217 24.0161 21.6122 23.8501L27.1173 20.6295C27.258 20.548 27.3749 20.4308 27.4563 20.2896C27.5376 20.1485 27.5805 19.9883 27.5806 19.8253V13.3767C27.5809 13.2136 27.5381 13.0533 27.4568 12.9121C27.3754 12.7709 27.2583 12.6537 27.1173 12.5725L21.6122 9.3519C21.4703 9.26953 21.3091 9.22626 21.1452 9.22647ZM50.5645 9.22647C50.4005 9.22564 50.2392 9.26896 50.0975 9.3519L44.5924 12.5725C44.4516 12.654 44.3347 12.7712 44.2534 12.9124C44.1721 13.0536 44.1292 13.2137 44.129 13.3767V19.8253C44.129 20.1573 44.3056 20.4635 44.5924 20.6295L49.932 23.8667C50.0731 23.9526 50.2348 23.9987 50.3999 24C50.5649 24.0013 50.7273 23.9578 50.8697 23.8741L53.4954 22.3431C53.5572 22.3066 53.6084 22.2546 53.644 22.1921C53.6795 22.1297 53.6982 22.059 53.6982 21.9871C53.6982 21.9152 53.6795 21.8445 53.644 21.7821C53.6084 21.7197 53.5572 21.6676 53.4954 21.6311L47.8065 18.2685V14.9594L50.5645 13.3491L53.3226 14.9594V17.265C53.3226 17.5731 53.58 17.621 53.7528 17.5178C54.6823 16.9733 55.6127 16.4304 56.544 15.889C56.6825 15.8079 56.7975 15.6919 56.8775 15.5524C56.9575 15.4129 56.9997 15.2549 57 15.094V13.3786C57.0002 13.2155 56.9575 13.0552 56.8761 12.914C56.7948 12.7727 56.6776 12.6556 56.5366 12.5743L51.0316 9.35375C50.8897 9.27105 50.7285 9.22776 50.5645 9.22832V9.22647ZM6.43548 9.23016C6.27143 9.22933 6.11015 9.27264 5.96845 9.35559L0.463355 12.5725C0.322442 12.6548 0.205498 12.7727 0.124193 12.9144C0.0428882 13.0562 6.6068e-05 13.2169 0 13.3804V21.6127C0 22.0148 0.433936 22.2638 0.779613 22.0627L3.22142 20.6369C3.3601 20.5555 3.47514 20.4391 3.55513 20.2994C3.63513 20.1596 3.67728 20.0012 3.67742 19.8401V14.9649L6.43548 13.3509L9.19355 14.9649V19.8401C9.19382 20.001 9.23605 20.159 9.31605 20.2985C9.39604 20.4379 9.51102 20.554 9.64955 20.6351L12.0914 22.0627C12.1702 22.1088 12.2598 22.1332 12.351 22.1335C12.4423 22.1337 12.532 22.1098 12.6111 22.0642C12.6902 22.0185 12.7559 21.9527 12.8015 21.8734C12.8471 21.7942 12.8711 21.7042 12.871 21.6127V13.3804C12.8709 13.2169 12.8281 13.0562 12.7468 12.9144C12.6655 12.7727 12.5485 12.6548 12.4076 12.5725L6.90252 9.35559C6.76082 9.27264 6.59954 9.22933 6.43548 9.23016ZM35.8548 13.3472L38.6129 14.9612V18.2408L35.8548 19.8548L33.0968 18.2408V14.9594L35.8548 13.3454V13.3472ZM50.5645 14.7638L48.9887 15.6861V17.527L50.5645 18.4456L52.1403 17.527V15.6861L50.5645 14.7638Z" fill="black"/></svg>
				MongoDB
				<svg width="11" height="24" viewBox="0 0 11 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.9539 10.6439C10.8777 9.67691 10.6459 8.74449 10.3235 7.83104C9.65564 5.79137 8.58386 3.98627 7.07418 2.43311C6.69249 2.04027 6.26798 1.68034 6.00178 1.19142C5.83338 0.88216 5.673 0.56866 5.50892 0.256977L5.40495 0C5.38746 0.0589452 5.37634 0.0799395 5.37572 0.101136C5.36234 0.609235 5.06876 0.953823 4.70313 1.2754C4.292 1.63735 3.90928 2.03018 3.51421 2.40949L2.29934 3.97658C1.97159 4.56704 1.64425 5.15751 1.31691 5.74797L0.660172 7.48746L0.640408 7.51451C0.278893 8.67888 0.100606 9.87595 0.0129037 11.0851C-0.0200362 11.5395 0.0174325 12.0006 0.0435786 12.4574C0.0808418 13.1105 0.196544 13.7524 0.370096 14.3843C1.00048 16.6799 2.27978 18.5841 4.02869 20.2019C4.35376 20.5024 4.68728 20.7758 5.02656 21.0618C5.08461 20.867 5.13094 20.6722 5.18364 20.4774C5.23634 20.2834 5.28967 20.0904 5.32528 19.8958C5.28946 20.0904 5.24931 20.2834 5.20958 20.4774L5.03953 21.0618L5.19146 21.5667L5.33228 22.3507L5.3994 23.1689C5.39878 23.335 5.39199 23.5016 5.40228 23.6675C5.40475 23.7099 5.46157 23.7491 5.49327 23.7899L5.77656 23.8874L6.07178 24L6.02114 23.2727L6.01887 22.5564L6.12078 21.4654L6.19469 21.2278L6.40612 20.8604C6.66717 20.6545 6.94736 20.4675 7.18515 20.2384C7.61543 19.8238 8.04467 19.4039 8.42966 18.9499C8.93076 18.3614 9.35862 17.7166 9.70423 17.0289C9.93522 16.5679 10.1526 16.0975 10.3326 15.6156C10.4911 15.1909 10.5893 14.7446 10.7142 14.3077C10.7254 14.2763 10.7402 14.2454 10.7472 14.2133C11.0054 13.0342 11.0488 11.8431 10.9539 10.6439Z" fill="black"/></svg>
				Vue
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_313_25)"><path d="M4.34719 1.6001H0.799993C0.65923 1.60006 0.520948 1.63716 0.399109 1.70765C0.27727 1.77815 0.176189 1.87954 0.106071 2.0016C0.0359539 2.12365 -0.000717376 2.26205 -0.00023953 2.40281C0.000238317 2.54358 0.0378483 2.68172 0.108793 2.8033L11.3088 22.0033C11.3792 22.1242 11.4801 22.2244 11.6014 22.2941C11.7227 22.3638 11.8601 22.4005 12 22.4005C12.1399 22.4005 12.2773 22.3638 12.3986 22.2941C12.5199 22.2244 12.6208 22.1242 12.6912 22.0033L23.8912 2.8033C23.9621 2.68172 23.9997 2.54358 24.0002 2.40281C24.0007 2.26205 23.964 2.12365 23.8939 2.0016C23.8238 1.87954 23.7227 1.77815 23.6009 1.70765C23.479 1.63716 23.3408 1.60006 23.2 1.6001H19.6528L12 14.3553L4.34719 1.6001Z" fill="black"/><path d="M17.7873 1.6001H13.1041L12.0001 3.8113L10.8945 1.6001H6.21289L12.0001 11.2449L17.7873 1.6001Z" fill="black"/></g><defs><clipPath id="clip0_313_25"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>
				Svelte
				<svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.6799 3.17146C16.4848 -0.0160354 12.1877 -0.93741 8.87867 1.07015L3.28067 4.6289C2.52407 5.10289 1.87568 5.73077 1.37762 6.47175C0.879568 7.21273 0.543002 8.05021 0.389798 8.92978C0.117921 10.4077 0.353545 11.9342 1.05842 13.2614C0.576822 13.9854 0.253167 14.8027 0.108548 15.6601C-0.0497746 16.5542 -0.0286782 17.4708 0.170609 18.3567C0.369896 19.2426 0.743392 20.0799 1.26936 20.8201C3.46817 24.0001 7.75367 24.9258 11.07 22.9411L16.6723 19.3786C17.426 18.9026 18.0717 18.274 18.5676 17.5332C19.0634 16.7924 19.3986 15.956 19.5514 15.0777C19.8201 13.6043 19.5831 12.0833 18.879 10.7615C20.3674 8.42596 20.289 5.42146 18.6799 3.17146ZM8.31974 21.1289C7.44049 21.3574 6.51226 21.3103 5.66065 20.994C4.80905 20.6777 4.07518 20.1073 3.55836 19.3602C2.90942 18.4615 2.67149 17.3519 2.85899 16.2503L2.96867 15.7193L3.06992 15.3912L3.37086 15.5903C4.03086 16.0906 4.76961 16.4495 5.55861 16.6919L5.76149 16.7622L5.73861 16.9623C5.71892 17.2398 5.80086 17.5518 5.96136 17.7899C6.28948 18.2624 6.86005 18.4893 7.41017 18.3406C7.53092 18.3018 7.64886 18.2622 7.74992 18.1992L13.3288 14.6412C13.61 14.461 13.7895 14.1916 13.8598 13.8713C13.9213 13.5389 13.8399 13.1992 13.6599 12.9301C13.3273 12.4688 12.7612 12.2617 12.2111 12.3993C12.0902 12.4417 11.9614 12.4893 11.8588 12.5515L9.74942 13.8912C7.75367 15.0777 5.17555 14.5203 3.85067 12.6102C3.53161 12.1651 3.305 11.6606 3.18423 11.1265C3.06346 10.5923 3.05099 10.0394 3.14755 9.50034C3.24431 8.96668 3.45215 8.45932 3.75759 8.01115C4.06303 7.56297 4.45924 7.18399 4.92055 6.89878L10.4878 3.34003C10.8394 3.12103 11.2179 2.96128 11.6282 2.83978C13.4291 2.37103 15.3268 3.0779 16.3895 4.60115C16.7595 5.12198 17.0035 5.72152 17.1025 6.35262C17.2015 6.98373 17.1528 7.6292 16.9601 8.23828L16.8583 8.57015L16.5697 8.37103C15.9035 7.88356 15.1603 7.51121 14.3709 7.26946L14.171 7.21078L14.1909 7.0109C14.2106 6.71784 14.1287 6.40959 13.9682 6.1709C13.6393 5.6984 13.0695 5.49909 12.5194 5.63971C12.3986 5.67928 12.2807 5.71809 12.1796 5.78109L6.58967 9.37078C6.30842 9.55828 6.12842 9.81965 6.06974 10.1478C6.01124 10.4678 6.08961 10.8194 6.26961 11.0772C6.58986 11.5505 7.17148 11.7496 7.71111 11.6082C7.83992 11.5694 7.96086 11.5306 8.05892 11.4676L10.1917 10.1075C10.5397 9.87759 10.9301 9.70996 11.3293 9.5999C13.142 9.1274 15.0324 9.83878 16.0907 11.3695C16.7396 12.2682 16.9894 13.3771 16.8092 14.467C16.7168 14.9993 16.5133 15.5061 16.2118 15.9543C15.9103 16.4026 15.5176 16.7822 15.0594 17.0684L9.48055 20.6195C9.11775 20.8387 8.72773 21.0094 8.32048 21.127L8.31974 21.1289Z" fill="black"/></svg>
				ReactJS 
				<svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.25 0.477087C22.1179 1.53914 22.5008 3.88824 22.1891 6.24217C22.1523 6.53369 22.102 6.83368 22.0406 7.13972C22.34 7.24132 22.6297 7.34898 22.9034 7.46148C25.1272 8.37354 27 9.87468 27 12C27 14.1253 25.1272 15.6265 22.9034 16.5385C22.6285 16.651 22.34 16.7587 22.0406 16.8603C22.102 17.1663 22.151 17.4651 22.1891 17.7578C22.5008 20.1118 22.1179 22.4609 20.25 23.5229C18.3833 24.5862 16.1264 23.7382 14.2143 22.2963C13.97 22.1116 13.7318 21.9191 13.5 21.7194C13.2607 21.925 13.0226 22.1173 12.7857 22.2963C10.8736 23.7382 8.61791 24.5862 6.75 23.5229C4.88332 22.4609 4.50041 20.1118 4.81091 17.7578C4.85113 17.4572 4.90107 17.1578 4.96064 16.8603C4.65995 16.7587 4.37155 16.651 4.09664 16.5385C1.87282 15.6265 0 14.1253 0 12C0 9.87468 1.87282 8.37354 4.09664 7.46148C4.37155 7.34898 4.66118 7.24132 4.96064 7.13972C4.89927 6.83368 4.85018 6.5349 4.81091 6.24217C4.50041 3.88824 4.88332 1.53914 6.75 0.477087C8.61791 -0.586175 10.8736 0.261773 12.7857 1.70365C13.0226 1.88267 13.2607 2.07501 13.5 2.28064C13.7393 2.07501 13.9786 1.88267 14.2143 1.70486C16.1276 0.261774 18.3821 -0.586175 20.25 0.477087ZM7.33909 17.4881C7.30227 17.6877 7.27159 17.8824 7.24582 18.0699C6.95986 20.2388 7.49864 21.1545 7.9785 21.4278C8.45959 21.7012 9.53346 21.7036 11.2958 20.3755C11.4541 20.2556 11.6092 20.1318 11.761 20.0041C11.1556 19.3277 10.5858 18.6212 10.0538 17.8873C9.14259 17.8 8.23649 17.6668 7.33909 17.4881ZM19.6646 17.4881C18.8178 17.6574 17.912 17.7929 16.9499 17.8873C16.3853 18.6614 15.8146 19.3678 15.2427 20.0041C15.3986 20.136 15.5545 20.2581 15.7066 20.3743C17.469 21.7036 18.5441 21.7012 19.024 21.4278C19.505 21.1545 20.0426 20.2388 19.7566 18.0699C19.731 17.8752 19.7003 17.6812 19.6646 17.4881ZM5.59636 9.48397C5.40889 9.54998 5.2231 9.62057 5.03918 9.69566C2.98964 10.5351 2.45455 11.4532 2.45455 12C2.45455 12.5468 2.99086 13.4649 5.03918 14.3043C5.21714 14.3769 5.40368 14.4483 5.59636 14.516C5.88838 13.6609 6.22468 12.8212 6.60395 12C6.22512 11.1788 5.888 10.339 5.59636 9.48397ZM21.4036 9.48397C21.112 10.339 20.7761 11.1788 20.3973 12C20.7949 12.8673 21.1312 13.7092 21.4036 14.516C21.5911 14.4501 21.7769 14.3795 21.9608 14.3043C24.0104 13.4649 24.5455 12.5468 24.5455 12C24.5455 11.4532 24.0104 10.5364 21.9608 9.69566C21.777 9.62043 21.5912 9.54984 21.4036 9.48397ZM13.5 10.1856C13.0118 10.1856 12.5435 10.3767 12.1983 10.717C11.853 11.0573 11.6591 11.5188 11.6591 12C11.6591 12.4812 11.853 12.9427 12.1983 13.283C12.5435 13.6233 13.0118 13.8144 13.5 13.8144C13.9882 13.8144 14.4565 13.6233 14.8017 13.283C15.147 12.9427 15.3409 12.4812 15.3409 12C15.3409 11.5188 15.147 11.0573 14.8017 10.717C14.4565 10.3767 13.9882 10.1856 13.5 10.1856ZM11.2946 3.62575C9.53223 2.29637 8.45836 2.29879 7.97727 2.57216C7.49741 2.84554 6.95864 3.76123 7.24459 5.93009C7.26914 6.11879 7.30105 6.31233 7.33786 6.51192C8.18345 6.34257 9.09041 6.20709 10.0526 6.11274C10.5844 5.37875 11.1542 4.6722 11.7597 3.99589C11.6079 3.86866 11.4528 3.74524 11.2946 3.62575ZM15.7066 3.62575C15.548 3.74519 15.3925 3.86862 15.2403 3.99589C15.8134 4.63216 16.3853 5.33979 16.9486 6.11274C17.9096 6.20709 18.8178 6.34257 19.6634 6.51192C19.699 6.31918 19.7297 6.12557 19.7554 5.9313C20.0426 3.76244 19.5038 2.84554 19.0227 2.57216C18.5429 2.29879 17.4678 2.29758 15.7054 3.62575H15.7066Z" fill="black"/></svg>
				enabling me to develop robust and scalable frontend applications with seamless integration of backend functionalities.</p>
				<br/>
				<p>I'm also en expert in Google Workspace
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.7873 9.83747C23.93 10.6429 24.0012 11.4589 24 12.2764C24 15.9273 22.6687 19.0142 20.3519 21.1036H20.355C18.329 22.938 15.544 24 12.2418 24C8.99505 24 5.88131 22.7358 3.58553 20.4854C1.28975 18.235 0 15.1829 0 12.0004C0 8.8179 1.28975 5.76576 3.58553 3.51539C5.88131 1.26503 8.99505 0.000791804 12.2418 0.000791804C15.2807 -0.0340946 18.2155 1.08501 20.4315 3.12369L16.9365 6.54958C15.6731 5.36908 13.987 4.72262 12.2418 4.74963C9.0482 4.74963 6.33511 6.86157 5.36802 9.70547C4.85525 11.1957 4.85525 12.8096 5.36802 14.2998H5.37261C6.3443 17.1392 9.05279 19.2512 12.2464 19.2512C13.8959 19.2512 15.3129 18.8372 16.4116 18.1052H16.407C17.045 17.6909 17.5907 17.1542 18.0112 16.5275C18.4318 15.9008 18.7184 15.1971 18.8539 14.4588H12.2418V9.83897L23.7873 9.83747Z" fill="black"/></svg>
					 and anything related to Email
					 <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22.5 0H2.5C1.125 0 0.0125 1.125 0.0125 2.5L0 17.5C0 18.875 1.125 20 2.5 20H22.5C23.875 20 25 18.875 25 17.5V2.5C25 1.125 23.875 0 22.5 0ZM22.5 5L12.5 11.25L2.5 5V2.5L12.5 8.75L22.5 2.5V5Z" fill="black"/></svg>
					</p>
		</div>
		<div class="video-container">
			<video src="jsorbit1.mp4" autoplay muted loop poster="jsorbit1.jpg"></video>
		</div>
	</div>

	<div class="wrapper">
		<div class="description">
			<p><u>UX/UI</u></p>
			<p>Proficient in Blender
				<svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.3379 7.45758L16.9395 0.348088C16.3239 -0.117479 15.2896 -0.115401 14.6136 0.35057C13.9292 0.821389 13.8503 1.60189 14.4585 2.09407L18.3672 5.22705H6.43325C5.44811 5.22745 4.50112 5.87718 4.31426 6.68222C4.12108 7.50185 4.78975 8.17397 5.81403 8.17709H11.8539L1.03313 16.3576C0.0162337 17.124 -0.31195 18.3999 0.328538 19.2065C0.97805 20.0277 2.36069 20.0293 3.38813 19.2112L9.27123 14.4691C9.27123 14.4691 9.18493 15.1088 9.19178 15.4931C9.36868 18.7368 11.8794 21.7437 14.9881 23.0754C20.3447 25.4123 27.5769 23.273 29.6105 17.1828C30.5777 13.9881 29.8362 10.1892 26.3378 7.45764L26.3379 7.45758ZM16.3748 18.7817C12.1441 16.6006 12.1441 11.1182 16.3748 8.9371C20.6055 6.75597 25.9225 9.4972 25.9225 13.8594C25.9225 18.2216 20.6055 20.9628 16.3748 18.7817ZM17.6632 16.8189C14.9647 15.4288 14.9647 11.9345 17.6632 10.5444C20.3617 9.15428 23.7531 10.9014 23.7531 13.6817C23.7531 16.462 20.3617 18.2091 17.6632 16.8189Z" fill="black"/></svg>
				 Figma
				 <svg width="16" height="24" viewBox="0 0 16 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4 24C5.06087 24 6.07828 23.5786 6.82843 22.8284C7.57857 22.0783 8 21.0609 8 20V16H4C2.93913 16 1.92172 16.4214 1.17157 17.1716C0.421427 17.9217 0 18.9391 0 20C0 21.0609 0.421427 22.0783 1.17157 22.8284C1.92172 23.5786 2.93913 24 4 24ZM4 16H8V8H4C2.93913 8 1.92172 8.42143 1.17157 9.17157C0.421427 9.92172 0 10.9391 0 12C0 13.0609 0.421427 14.0783 1.17157 14.8284C1.92172 15.5786 2.93913 16 4 16ZM4 8H8V0H4C2.93913 0 1.92172 0.421427 1.17157 1.17157C0.421427 1.92172 0 2.93913 0 4C0 5.06087 0.421427 6.07828 1.17157 6.82843C1.92172 7.57857 2.93913 8 4 8ZM12 8H8V0H12C13.0609 0 14.0783 0.421427 14.8284 1.17157C15.5786 1.92172 16 2.93913 16 4C16 5.06087 15.5786 6.07828 14.8284 6.82843C14.0783 7.57857 13.0609 8 12 8Z" fill="black"/></svg>
				 Photoshop
				 <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.38019 7.75158C8.67886 7.57504 7.97657 7.63172 7.23543 7.74738C7.23543 9.04611 7.23276 10.3099 7.24248 11.5739C7.24286 11.6386 7.33981 11.7512 7.40267 11.7598C8.21086 11.8692 9.01467 11.878 9.77048 11.5088C10.5524 11.1271 10.9507 10.329 10.8474 9.39193C10.7537 8.53864 10.2495 7.97048 9.38019 7.75158ZM24 12.0165V0.436093C24 0.0360707 24.0044 0 23.6168 0H0.47219C0.0952381 0 0 0.0362616 0 0.417199V23.6072C0 23.9924 0.048 23.9929 0.420762 23.9929C8.14552 23.9931 15.8933 23.9912 23.6181 24C23.9177 24.0004 23.9981 23.9204 23.9973 23.6261C23.987 19.7563 24 15.886 24 12.0165ZM10.5432 13.1311C9.48476 13.5093 8.38095 13.5305 7.23809 13.4418V17.7491H5.14286V17.4815C5.14286 13.8754 5.12629 10.2697 5.11619 6.66373C5.11505 6.36429 5.16248 6.21962 5.49924 6.18527C7.08629 6.02266 8.66438 5.83983 10.2425 6.21065C11.9389 6.60896 12.917 7.73268 12.9912 9.28525C13.0832 11.2079 12.24 12.5247 10.5432 13.1311ZM18.9832 15.5652C18.9025 16.6666 18.2827 17.3897 17.2661 17.7393C15.9057 18.2073 14.5528 18.0987 13.2232 17.5693C13.0055 17.4825 12.9634 17.3725 13.0352 17.1502C13.1661 16.7444 13.2619 16.3272 13.3629 15.9505C13.925 16.1158 14.4594 16.3221 15.0131 16.4196C15.4042 16.4885 15.8269 16.4481 16.2244 16.3856C16.5808 16.3295 16.8371 16.0872 16.8956 15.7039C16.955 15.3144 16.8379 14.977 16.4947 14.7697C16.2219 14.6052 15.9213 14.4874 15.6331 14.3495C15.1697 14.1275 14.6758 13.9534 14.2484 13.6758C12.5663 12.5828 13.1139 10.5491 14.2364 9.78318C14.837 9.37361 15.5015 9.19192 16.213 9.16692C17.0497 9.13753 17.8554 9.2822 18.6469 9.66752L18.2288 11.1541C17.8973 11.0365 17.5888 10.8838 17.263 10.8231C16.8766 10.751 16.4712 10.7107 16.0811 10.7426C15.5581 10.7855 15.2518 11.1472 15.2518 11.5957C15.2518 11.8613 15.3524 12.0862 15.5735 12.215C15.8909 12.3999 16.2276 12.5524 16.5613 12.7072C16.9225 12.8746 17.3038 13.0032 17.6514 13.1942C18.579 13.7038 19.0619 14.492 18.9832 15.5652Z" fill="black"/></svg>
				 and UX/UI principles, I bring a creative edge to my frontend development work, crafting visually stunning and user-friendly designs.</p>
		</div>
		<div class="video-container">
			<video src="torbit3.mp4" autoplay muted loop poster="torbit3.jpg"></video>
		</div>
	</div>
</Layout>
