---
import Layout from '../../layouts/Layout.astro'
---
<style>
  :root {
    --wrapper_inner_width: 80%;
  }
  @media only screen and (max-width: 600px) {
    :root {
      --wrapper_inner_width: 100%;
    }
  }

  .web_wrapper {
    display: flex;
    justify-content: center;
  }
  .wrapper_inner {
    width: var(--wrapper_inner_width);
  }
  .wrapper_inner picture {
    display: flex;
    justify-content: center;
  }

  .myimg {
    width: 100%;
  }
  .box-1 {
    display: flex;
    flex-direction: row;
  }
  .box-img {
    width: 35%;
    aspect-ratio: 16/10;
  }
  .box-link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  hr {
    border-top: none;
    border-bottom: 1px solid rgb(214, 214, 214);
  }
</style>
<Layout>
  <div class="web_wrapper">
    <div class="wrapper_inner">

      <div class="box-1">
        <div class="box-img">
          <img class="myimg" src="https://screenshot-proxy.netlify.app/f_avif,w_336/https://d33wubrfki0l68.cloudfront.net/604edb70294defac0036b502/screenshot.png" alt="thumb">
        </div>
        <div class="box-link">
          <a href="https://nervous-tesla-da9eb6.netlify.app/" target="_blank" >nervous-tesla-da9eb6.netlify.app</a>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="box-1">
        <div class="box-img">
          <img class="myimg" src="https://screenshot-proxy.netlify.app/f_avif,w_336/https://d33wubrfki0l68.cloudfront.net/645460399af0773da0ef21ee/screenshot_2023-05-05-01-47-40-0000.png" alt="thumb">
        </div>
        <div class="box-link">
          <a href="https://bespoke-swan-a84f86.netlify.app" target="_blank" >bespoke-swan-a84f86.netlify.app</a>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="box-1">
        <div class="box-img">
          <img class="myimg" src="https://screenshot-proxy.netlify.app/f_avif,w_336/https://d33wubrfki0l68.cloudfront.net/63c333e4948f71000ac11d0b/screenshot_2023-01-14-23-00-10-0000.png" alt="thumb">
        </div>
        <div class="box-link">
          <a href="https://fancy-pothos-8adccf.netlify.app" target="_blank" >fancy-pothos-8adccf.netlify.app</a>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="box-1">
        <div class="box-img">
          <img class="myimg" src="https://screenshot-proxy.netlify.app/f_avif,w_336/https://d33wubrfki0l68.cloudfront.net/6449b696702b3d0d6c1657cf/screenshot_2023-04-26-23-41-13-0000.png" alt="thumb">
        </div>
        <div class="box-link">
          <a href="https://courageous-duckanoo-20fae9.netlify.app" target="_blank" >courageous-duckanoo-20fae9.netlify.app</a>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <div class="box-1">
        <div class="box-img">
          <img class="myimg" src="https://screenshot-proxy.netlify.app/f_avif,w_336/https://d33wubrfki0l68.cloudfront.net/63c4c85ce7317a6add81cf30/screenshot_2023-01-16-03-48-46-0000.png" alt="thumb">
        </div>
        <div class="box-link">
          <a href="https://jazzy-nougat-160ff9.netlify.app/" target="_blank" >jazzy-nougat-160ff9.netlify.app/</a>
        </div>
      </div>

    </div>
  </div>
</Layout>